$navbar-default-bg: #f9f3ff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #ff4683;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #ffa4c6;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('jumbotron.jpg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: #ff4683;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background: #ff4683;
  color: #fff;
  border: 1px solid #ff4683;
  font-weight: bold;
}

.btn-xlarge:hover {
  background: #fff;
  color: #ff4683;
  border: 1px solid #ff4683;
}

.btn-create {
  background: #ff4683;
  color: #fff;
  border: 1px solid #ff4683;
  font-weight: bold;
}

.btn-create:hover {
  background: #ff4683;
}

.create-edit-article {
  color: #ff4683;
  margin-bottom: 30px;
}

.article-actions {
  border-top: 1px solid #c8cabf;
  padding-top: 15px;
}

.well {
  background-color: #f9f3ff;
}

.btn-success {
  background-color: #ff4683;
  border: 1px solid #ff4683;
  font-weight: bold;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: #ff4683 !important;
  border: 1px solid #ff4683 !important;
}

.btn-primary {
  background-color: #fff;
  color: #ff4683;
  border: 1px solid #ff4683;
  font-weight: bold;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #fff;
  color: #ff4683;
  border-color: #ff4683;
}

.btn-danger {
  background-color: #c9302c;
  font-weight: bold;
}

.brand-color {
  color: #ff4683;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.article-title a {
  color: #ff4683;
}

.article-body {
  border-top: 1px solid #c8cabf;
  padding: 10px 0;
}

footer {
  padding-top: 5px;
  border-top: 1px solid #f9f3ff;
  color: #999999;
}

footer a {
  color: #ff4683;
}

footer a:hover {
  text-decoration: none;
  color: #ff85af;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}
